.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
.inner {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
.logo {
  color: #000000;
  font-weight: 900;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;

  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #a8aab4;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
  .rightBlock {
    display: flex;
    justify-content: space-between;
  }
}
}

@media (max-width: 906px) {
  .root {
    height: 210px;
  }
  .inner {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    align-items: center;
  }
  .buttons {
    button {
      margin-top: 10px;
    }
  }
}